.racer {
	width:70px;
	height:20px;
	border:1px solid blue;
	float:left;
	margin-right:5px;
	cursor:pointer;
}

.bib {
	width:40px;
	height:20px;
	border:1px solid blue;
	margin-right:5px;
	float:left;
	cursor:pointer;
}

.assignment {
	width:80px;
	height:60px;
	border:2px solid white;
	float:left;
	margin-right:10px;
	cursor:pointer;
}


#bibBoard {
    border:1px solid white;
    display:none;
    position:absolute;
}

#assignBoard {
    border:1px solid white;
    display:none;
    position:absolute;
}

/*-------------------------------------------------------------------------------------------------
Name of Race
-------------------------------------------------------------------------------------------------*/
#race-title-output {	
	text-align:center;
	font-size:30px;
	width:100%;
	position:absolute;
	top:150px;
}

.error {
	color:red;
}

#export-table {
	z-index:20;
}