/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#wrapper {
	width: 960px;
	margin:0px auto;
}

/* Options container */
#options {
	width:360px;
	margin-right:50px;
	float:left;
	background: #CC0099;
	border-radius: 10px;
	border: 3px ;
	//	border: 1px solid red; /* tmp - so i can see where things end up */
}
/* Roster board */
#roster {
	width:490px;
	margin-right:50px;
	float:left;
	background: #E8E8E8;
	border: 3px solid #CC0099; /* tmp - so i can see where things end up */
	border-radius: 10px;
}

/* Roster table in the preview */
#roster-table-section  {
	border: 1px solid white; /* tmp - so i can see where things end up */
}

#preview-buttons{
	border: 1px solid #CC0099; /* tmp - so i can see where things end up */
/*	z-index: 999;*/
	float:left;
	width: 100%;
	border-radius:5px;
	text-align: center;
	margin-top: 20px;
}

/* Right column */
#preview {
	width:750px;
	float:left;
	text-align:center;
    border:1px solid #CC0099;
    z-index: 999;
    display:none;
    position:absolute;
    top:40px;
    left:200px;
    background:#E8E8E8 ;
/*	border-color: red;*/
}


/*-------------------------------------------------------------------------------------------------
Roster
-------------------------------------------------------------------------------------------------*/

#background-container {

	background-repeat:no-repeat;
	height:513px;
	width:369px;
	margin:0px auto;
}

#canvas {
	width:75%;
	height:500px;
	position:relative;
	top:33px;
	left:16px;
	overflow:auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

input[type=button] {
  border: 1px solid #63a62f;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  background: #CC0099;
  color: white;
}